{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid" id="aircraft">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck mt-4">
        <div class="card border-0 shadow">
          <img src="static/images/first_solo.jpg" alt="First solo" width="100%">
          <figcaption class="figure-caption">First solo</figcaption>
          <p>After a lifetime of interest in aviation, I started flying in 2011 after moving to Bakersfield.</p>
        </div>
        <div class="card border-0 shadow">
          <img src="static/images/kernville.jpg" alt="Departing Kernville" width="100%">
          <figcaption class="figure-caption">Departing Kernville</figcaption>
          <p>Southern California's great flying weather, many fantastic destinations from the coast, central
            valley, high desert, and mountains, and the close-knit aviation community have made it a great hobby
            for the last few years.
          </p>
        </div>
        <div class="card border-0 shadow">
          <img src="static/images/private_pilot.jpg" alt="Newly minted private pilot" width="100%">
          <figcaption class="figure-caption">Newly minted private pilot</figcaption>
          <p>The majority of my training has been at Meadows Field (BFL), with some at Mojave Air and Space Port
            (MHV), Tehachapi Municipal (TSP), and Shafter Municipal (EHF).</p>
        </div>
      </div>
      <div class="card-deck mt-4">
        <div class="card border-0 shadow">
          <img src="static/images/extra_300.jpg" alt="Aerobatics in an Extra 300" width="100%">
          <figcaption class="figure-caption">Aerobatics in an Extra 300</figcaption>
          <p>Most of my times is in Cessna 172s with time in a Super Decathlon, RV-6A, and Extra 300L.</p>
        </div>
        <div class="card border-0 shadow">
          <img src="static/images/super_decathlon.jpg" alt="Completed tailwheel and aerobatics training at KMIT"
            width="100%">
          <figcaption class="figure-caption">Completed tailwheel and aerobatics training at KMIT</figcaption>
          <p>My favorite flying experiences are checking out airport diners with friends, practicing aerobatics,
            and attending airshows.</p>
        </div>
        <div class="card border-0 shadow">
          <img src="static/images/catalina.jpg" alt="On the ramp at KAVX, Catalina Island" width="100%">
          <figcaption class="figure-caption">On the ramp at KAVX, Catalina Island</figcaption>
          <p>One highlight was a visit to Edwards AFB in the Mojave Desert and the NASA Armstrong Flight Research
            Center. </p>
        </div>
      </div>
      <div class="card-deck mt-4">
        <div class="card border-0 shadow">
          <img src="static/images/mooney.jpg" alt="Mooney M-20K with turboed TSIO-360 and GAMIs" width="100%">
          <figcaption class="figure-caption">Mooney M-20K with turboed TSIO-360 and GAMIs</figcaption>
          <p>My main interests are in race/performance modifications, aircraft engines, aerobatics, and
            experimental aircraft.</p>
        </div>
        <div class="card border-0 shadow">
          <img src="static/images/tehachapi.jpg" alt="Inbound to KBFL from KWJF" width="100%">
          <figcaption class="figure-caption">Inbound to KBFL from KWJF</figcaption>
          <p>Reno race fan. AOPA and EAA member. Military aviation buff. Tailwheel certified. Upset prevention
            &amp; recovery and spin trained.</p>
        </div>
        <div class="card border-0 shadow">
          <img src="static/images/salinas.jpg" alt="AOPA Salinas fly-in" width="100%">
          <figcaption class="figure-caption">AOPA Salinas fly-in</figcaption>
          <p>I am currently working towards a commercial / instructor certificate, and eventually plan to
            instruction the side.</p>
        </div>
      </div>
      <div class="card-deck mt-4">
        <div class="card border-0 shadow">
          <img src="static/images/n5777v_mit1.jpg" alt="N5777V on low approach, KMIT" width="100%">
          <figcaption class="figure-caption">N5777V on low approach, KMIT</figcaption>
          <p>In March of 2017 I co-purchased my first aircraft: Beechcraft A23-24 Super Musketeer N5777V, which is
            detailed on its own page.</p>
        </div>
        <div class="card border-0 shadow">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/163972650"
              allowfullscreen></iframe>
          </div>
          <figcaption class="figure-caption">Video of aerobatic flying in a Super Decathlon</figcaption>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}