{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid" id="aprs">
    <div class="col-md-12">
        <div class="card-deck mt-4">
            <div class="card border-0 shadow">
                <div class="card-header border-0">
                    <h5 class="card-title" align=center>Property</h5>
                </div>
                <div class="card-body">
                    <select class="form-control" id='prop_aprs'>
                        <option value="speed" selected>Speed</option>
                        <option value="altitude">Altitude</option>
                        <option value="course">Course</option>
                        <option value="none">None</option>
                    </select>
                </div>
            </div>
            <div class="card border-0 shadow">
                <div class="card-header border-0">
                    <h5 class="card-title" align=center>Time</h5>
                </div>
                <div class="card-body">
                    <select class="form-control" id='time_int'>
                        {%for time in times%}
                        <option value="{{time}}">{{times[time]}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="chart" id="map_aprs">
                        <script>
                            var type_aprs = "{{type_aprs}}";
                            var graphs = {{ map_aprs | safe }};
                            Plotly.plot('map_aprs', graphs.data, graphs.layout, {
                                displayModeBar: false,
                                responsive: true
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="chart" id="plot_speed">
                        <script>
                            var graphs = {{ plot_speed | safe }};
                            Plotly.plot('plot_speed', graphs.data, graphs.layout, {
                                displayModeBar: false,
                                responsive: true
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="chart" id="plot_alt">
                        <script>
                            var graphs = {{ plot_alt | safe }};
                            Plotly.plot('plot_alt', graphs.data, graphs.layout, {
                                displayModeBar: false,
                                responsive: true
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="chart" id="plot_course">
                        <script>
                            var graphs = {{ plot_course | safe }};
                            Plotly.plot('plot_course', graphs.data, graphs.layout, {
                                displayModeBar: false,
                                responsive: true
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table class="table table-hover table-sm" id="table_full">
                            <thead>
                                <tr>
                                    <th scope="col">Timestamp</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Latitude</th>
                                    <th scope="col">Longitude</th>
                                    <th scope="col">Speed</th>
                                    <th scope="col">Altitude</th>
                                    <th scope="col">Course</th>
                                    <!-- <th scope="col">Raw</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in rows %}
                                <tr>
                                    <td>{{ row['timestamp_'] }}</td>
                                    <td>{{ row['from'] }}</td>
                                    <td>{{ row['to'] }}</td>
                                    <td>{{ row['latitude'] }}</td>
                                    <td>{{ row['longitude'] }}</td>
                                    <td>{{ row['speed'] }}</td>
                                    <td>{{ row['altitude'] }}</td>
                                    <td>{{ row['course'] }}</td>
                                    <!-- <td>{{ row['raw'] }}</td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}