{% extends 'layout.html' %} {% block body %}
<div class="container-fluid" id="n5777v">
  <div class="col-md-12">
    <div class="card-deck mt-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="static/images/owens.jpg"
            alt="Owens River, near Mammoth Lakes, CA"
          />
          <figcaption class="figure-caption">
            Owens River, near Mammoth Lakes, CA
          </figcaption>
          <p class="card-text">
            I try to go fishing often&#8230; Of course I never go as often as
            I&#8217;d like to. To be honest I wasn&#8217;t expecting it to be
            something I could keep up after moving to the Central Valley, but
            fly fishing around the Kernville / Lake Isabella area and trips to
            Kings River and Owens River has been a real treat.
          </p>
        </div>
      </div>
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="static/images/kings.jpg"
            alt="Kings River, near Reedley, CA"
          />
          <figcaption class="figure-caption">
            Kings River, near Reedley, CA
          </figcaption>
          <p class="card-text">
            The fish aren&#8217;t typically large and can be a chore to catch,
            but they are very rewarding and fun to catch. If nothing else, the
            scenery and hiking involved to reach cooler streams is worth all the
            effort.
          </p>
        </div>
      </div>
    </div>
    <div class="card-deck mt-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="https://www.dreamflows.com/graphs/day.681.png"
            alt="Owens River, near Mammoth Lakes, CA"
          />
          <figcaption class="figure-caption">
            Kern River flows above Fairview Dam
          </figcaption>
        </div>
      </div>
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="https://www.dreamflows.com/graphs/day.682.png"
            alt="Owens River, near Mammoth Lakes, CA"
          />
          <figcaption class="figure-caption">
            Kern River flows below Fairview Dam
          </figcaption>
        </div>
      </div>
    </div>
    <div class="card-deck mt-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="https://www.dreamflows.com/graphs/day.104.png"
            alt="Owens River, near Mammoth Lakes, CA"
          />
          <figcaption class="figure-caption">
            Kern River flows at Kernville
          </figcaption>
        </div>
      </div>
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="https://www.dreamflows.com/graphs/day.473.png"
            alt="Owens River, near Mammoth Lakes, CA"
          />
          <figcaption class="figure-caption">
            Kern River flows above Borel Powerhouse
          </figcaption>
        </div>
      </div>
    </div>
    <div class="card-deck mt-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="https://www.dreamflows.com/graphs/day.105.png"
            alt="Owens River, near Mammoth Lakes, CA"
          />
          <figcaption class="figure-caption">
            Kern River flows rel Lake Isabella
          </figcaption>
        </div>
      </div>
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="https://www.dreamflows.com/graphs/day.667.png"
            alt="Owens River, near Mammoth Lakes, CA"
          />
          <figcaption class="figure-caption">
            Kern River flows below Kern Canyon PH Div
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
