{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
  {%for row in rows%}
  <br>
  <div class="row">
    {%for gallery in row%}
    <div class="col-md-2">
      <div class="card border-0 shadow">
        <a href="{{gallery['kk6gpv_link']}}">
          <p align=center><img src="{{gallery['thumb']}}" alt="{{gallery['caption']}}" width="100%"></p>
        </a>
        <p align=center>{{gallery['caption']}}</p>
      </div>
    </div>
    {%endfor%}
  </div>
  {%endfor%}
</div>
{% endblock %}