{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {%for row in rows%}
      <div class="card-deck mt-4">
        {%for gallery in row%}
        <div class="card border-0 shadow">
          <div class="card-body">
            <a href="{{gallery['kk6gpv_link']}}">
              <img src="{{gallery['thumb']}}" alt="{{gallery['caption']}}" width="100%">
            </a>
            {% if 'caption' in gallery %}
            <p class="card-text" align=center>{{gallery['caption']}}</p>
            {% endif %}
          </div>
        </div>
        {%endfor%}
      </div>
      {%endfor%}
    </div>
  </div>
</div>
{% endblock %}