{% extends 'layout.html' %} {% block body %}
<div class="container-fluid" id="index">
  <div class="col-md-12">
    <div class="card-deck mt-4">
      <div
        class="card border-0 shadow"
        style="background-color: rgb(255, 145, 172);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Station Weather</h5>
        </div>
        <a href="/station/live" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img
              src="static/icons/temperature.svg"
              alt="Station Weather"
              width="100%"
            />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(255, 151, 133);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">U.S. Weather</h5>
        </div>
        <a href="/weather/aviation" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img
              src="static/icons/satellite.svg"
              alt="U.S. Weather"
              width="100%"
            />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(255, 208, 147);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">IoT</h5>
        </div>
        <a href="/iot" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img src="static/icons/rfid.svg" alt="U.S. Weather" width="100%" />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(255, 236, 149);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">APRS</h5>
        </div>
        <a href="/aprs_prefix" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img
              src="static/icons/aprs_color.svg"
              alt="U.S. Weather"
              width="100%"
            />
          </div>
        </a>
      </div>
    </div>
    <div class=" card-deck mt-4">
      <div
        class="card border-0 shadow"
        style="background-color: rgb(253, 255, 153);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Flying</h5>
        </div>
        <a href="/aircraft" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img
              src="static/icons/paragliding.svg"
              alt="U.S. Weather"
              width="100%"
            />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(205, 255, 172);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Photos</h5>
        </div>
        <a href="/galleries" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img
              src="static/icons/camera2.svg"
              alt="U.S. Weather"
              width="100%"
            />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(152, 255, 216);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Travel</h5>
        </div>
        <a href="/travel" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img src="static/icons/rv.svg" alt="Travel" width="100%" />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(159, 225, 255);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Scuba</h5>
        </div>
        <a href="/scuba" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img src="static/icons/scuba.svg" alt="U.S. Weather" width="100%" />
          </div>
        </a>
      </div>
    </div>
    <div class=" card-deck mt-4">
      <div
        class="card border-0 shadow"
        style="background-color: rgb(159, 189, 255);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Fishing</h5>
        </div>
        <a href="/fishing" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img
              src="static/icons/fishing.svg"
              alt="U.S. Weather"
              width="100%"
            />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(166, 159, 255);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Oil & Gas</h5>
        </div>
        <a href="/oilgas/map" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img
              src="static/icons/pumpjack.svg"
              alt="U.S. Weather"
              width="100%"
            />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(226, 152, 255);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Blog</h5>
        </div>
        <a href="/posts" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img src="static/icons/blog.svg" alt="U.S. Weather" width="100%" />
          </div>
        </a>
      </div>
      <div
        class="card border-0 shadow"
        style="background-color: rgb(255, 152, 250);"
      >
        <div class="card-header border-0">
          <h5 class="card-title" align="center">About</h5>
        </div>
        <a href="/about" class="custom-card">
          <div class="card-body" style="text-align: center;">
            <img src="static/icons/id.svg" alt="U.S. Weather" width="100%" />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
