{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid"  id="n5777v">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck mt-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title" align=center>N5777V</h5>
          </div>
          <br>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm3.staticflickr.com/2201/32216824984_5f81a3f854_z_d.jpg"></p>
              </div>
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm4.staticflickr.com/3672/33323298756_51f9739c4d_z_d.jpg"></p>
              </div>
              <div class="col-md-6">
                <p>In early 2017 a buddy and I bought N5777V, a 1966 Beechcraft Musketeer Super III. It has a 200hp
                  IO-360 and
                  nearly 1000# useful load, and does 120kts at around 9gph. Our requirements were 4 seats, and the
                  ability to
                  carry 4 normal humans with full fuel. Many 4 seat aircraft you must take less fuel to actually carry 4
                  passengers. We had been looking mainly at Piper Cherokees and preferred low-wings, so when the
                  fixed-pitch,
                  fixed-gear, priced-right Super Mouse showed up nearby we went to give it a look over.</p>
                <p>Photos from the first trip to see N5777V and the pre-buy done during the annual</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm5.staticflickr.com/4305/36143564716_a69a6756c7_z_d.jpg"></p>
              </div>
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm5.staticflickr.com/4327/35794047620_e3278d8c2d_z_d.jpg"></p>
              </div>
              <div class="col-md-6">
                <p>After arriving in Bakersfield, it was already time to give it a bath at the wash rack</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm3.staticflickr.com/2871/33377872160_ab8c8d2aa2_z_d.jpg"></p>
              </div>
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm5.staticflickr.com/4172/34504081016_3d74971c32_z_d.jpg"></p>
              </div>
              <div class="col-md-6">
                <p>An hour or so of transition training was all it took to get accustomed enough to the new bird. Many
                  hours later
                  I'm still learning new quirks of the plane</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm5.staticflickr.com/4357/36472591390_28342818da_z_d.jpg"></p>
              </div>
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm5.staticflickr.com/4429/36732049786_4faf78d779_z_d.jpg"></p>
              </div>
              <div class="col-md-6">
                <p>Later in 2017 the plane was borrowed for use in a Netflix movie, and some aerial filming was done
                  from a
                  helicopter. No idea when the movie will be realeased though</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm3.staticflickr.com/2847/33389085140_696c036099_z_d.jpg"></p>
              </div>
              <div class="col-md-3">
                <p align=center><img border=0 width="100%"
                    src="https://farm3.staticflickr.com/2858/34222394245_f5c501739d_z_d.jpg"></p>
              </div>
              <div class="col-md-6">
                <p>At home on the ramp of Epic Jet Center, KBFL</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p align=center><img border=0 width="100%" src="static/images/n5777v_mit1.jpg"></p>
              </div>
              <div class="col-md-3">
                <p align=center><img border=0 width="100%" src="static/images/n5777v_mit2.jpg"></p>
              </div>
              <div class="col-md-6">
                <p>Flybys at KMIT (Shafter, CA) on a nice pink sunset day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}