{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid" id="paragliding">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck mt-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title" align=center>Paragliding</h5>
          </div>
          <br>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/ant_hill_track.png"
                    alt="GPS track of typical Ant Hill flight (side, top)" width="100%"></p>
                <p align=center>GPS track of typical Ant Hill flight (side, top)</p>
              </div>
              <div class="col-md-7">
                <p>Paragliding is flying with a controllable air-filled wing. Wings are typically made of
                  tent-like polyester and are composed of many cells. The wing is controlled by weight-shifting in your
                  harness and by brake lines running to the trailing edge of the wing. Bakersfield has a couple great
                  nearby paragliding spots. Ant Hill (sometimes known as Hang-glider Hill) is east of Hart Park, just a
                  few miles out of town. With 350ft profile the hill is not large, but 10-12 mph from the NNW produces
                  some lovely flights. Especially considering its an easy after work destination.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/comanche_track.jpg"
                    alt="GPS track of typical Comanche Peak sled run" width="100%"></p>
                <p align=center>GPS track of typical Comanche Peak sled run</p>
              </div>
              <div class="col-md-7">
                <p>Also near town is Comanche Peak, southeast of Arvin, CA. Launch at 2800ft is about 700ft over LZ, and
                  sled rides are common with thermals out over the flat spots. Caution must be paid to a barbed-wire
                  fences
                  near the LZ and alongside the road.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/sand_city.jpg" alt="Me flying at Sand City near Monterey, CA"
                    width="100%"></p>
                <p align=center>Me flying at Sand City near Monterey, CA</p>
              </div>
              <div class="col-md-7">
                <p>Great sites within a few hours include Dunlap, Santa Barbara (Elings Park and Coal Oil Pt), Marshall,
                  Sand City, and Torrey Pines.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/wing.jpg" alt="Ozone Buzz Z4" width="100%"></p>
              </div>
              <div class="col-md-7">
                <p align=center><a href="http://www.flyozone.com/paragliders/en/products/previous-gliders/buzz-z4/info/"
                    target="_blank">Ozone Buzz Z4</a></p>
                <p align=center>ML ENB wing. Nice performance, for the rating. Shaped leading edge and plenty of control
                  authority
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/harness.jpg" alt="Ozone Oxygen2" width="50%">
                </p>
              </div>
              <div class="col-md-7">
                <p align=center><a href="http://flyozone.com/paragliders/en/products/harnesses/oxygen2/info/"
                    target="_blank">Ozone Oxygen2</a></p>
                <p align=center>Harness. Eventually would like to get a less bulky one, but like the padding for now.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/reserve.jpg" alt="Ozone Angel" width="50%"></p>
              </div>
              <div class="col-md-7">
                <p align=center><a href="http://flyozone.com/paragliders/en/products/reserves-chutes/the-angel/info/"
                    target="_blank">Ozone Angel</a></p>
                <p align=center>Reserve chute. Never used, thankfully!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/gofly.jpg" alt="GoFly Project v4" width="50%"></p>
              </div>
              <div class="col-md-7">
                <p align=center><a href="http://www.goflyinstruments.com/gofly-project-v4/" target="_blank">GoFly
                    Project v4</a>
                </p>
                <p align=center>Great variometer for soaring and paragliding. Bluetooth model connects to MySkyHy for
                  instant uploading to LEONARDO!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p align=center><img src="static/images/helmet.jpg" alt="Wills Wing Charly Insider" width="50%"></p>
              </div>
              <div class="col-md-7">
                <p align=center><a href="https://www.willswing.com/accessories/helmets/charly-insider-full-face-helmet/"
                    target="_blank">Wills Wing Charly Insider</a></p>
                <p align=center>Fantastic full-face helmet. Lightweight with great airflow</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/lod9Xuo2zxw?rel=0&amp;controls=0&amp;showinfo=0"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-6">
                <p>Video of paragliding at Ant Hill, Bakersfield</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/VD-7Tkmp7JU?rel=0&amp;controls=0&amp;showinfo=0"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-6">
                <p>Video of paragliding at Ant Hill, Bakersfield</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}