{% extends 'layout.html' %} {% block body %}
<div class="container-fluid" id="index">
  <div class="col-md-12">
    <div class="card-deck mt-4">
      <div class="card border-0 shadow">
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Coconut Barometer</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            The Coconut Barometer station is a Ambient Weather WS-1400-IP
            connected to the ObserverIP, which communicates observation data
            exclusively to Weather Underground.
          </p>
          <p class="card-text">
            Observation data is then retrieved from Weather Underground and
            stored in MongoDB. The "Station Data" plots / graphs are created
            with plotly for this Python / Flask site all running on a cloud
            Kubernetes cluster. This site is an update of the previous PHP/MySQL
            cloud LEMP stack, which was an update to the earliest plots created
            by a headless Raspberry Pi 3 running wx_scraper Python software I
            wrote for this purpose.
          </p>
        </div>
      </div>
    </div>
    <div class="card-deck mt-4">
      <div class="card border-0 shadow">
        <div class="card-header border-0">
          <h5 class="card-title" align="center">Station Image</h5>
        </div>
        <div class="card-body">
          <img border="0" width="100%" src="static/images/wxstation.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
