{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid" id="travel">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck mt-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title" align=center>Countries Visited</h5>
          </div>
          <div class="table-responsive-md">
            <table class="table table-hover table-sm" id="table_static">
              <tbody>
                <tr>
                  <td><img src='static/flags/us.png'> USA</td>
                  <td><img src='static/flags/cz.png'> Czech Republic</td>
                  <td><img src='static/flags/hr.png'> Croatia</td>
                  <td><img src='static/flags/ro.png'> Romania</td>
                  <td><img src='static/flags/mc.png'> Monaco</td>
                </tr>
                <tr>
                  <td><img src='static/flags/ca.png'> Canada</td>
                  <td><img src='static/flags/de.png'> Germany</td>
                  <td><img src='static/flags/hu.png'> Hungary</td>
                  <td><img src='static/flags/si.png'> Slovenia</td>
                  <td><img src='static/flags/gi.png'> Gibraltar</td>
                </tr>
                <tr>
                  <td><img src='static/flags/at.png'> Austria</td>
                  <td><img src='static/flags/es.png'> Spain</td>
                  <td><img src='static/flags/it.png'> Italy</td>
                  <td><img src='static/flags/tr.png'> Turkey</td>
                  <td><img src='static/flags/bs.png'> Bahamas</td>
                </tr>
                <tr>
                  <td><img src='static/flags/ba.png'> Bosnia and Herzegovina</td>
                  <td><img src='static/flags/fr.png'> France</td>
                  <td><img src='static/flags/me.png'> Montenegro</td>
                  <td><img src='static/flags/ua.png'> Ukraine</td>
                  <td><img src='static/flags/bz.png'> Belize</td>
                </tr>
                <tr>
                  <td><img src='static/flags/ch.png'> Switzerland</td>
                  <td><img src='static/flags/gb.png'> Great Britain</td>
                  <td><img src='static/flags/pt.png'> Portugal</td>
                  <td><img src='static/flags/va.png'> Vatican</td>
                  <td><img src='static/flags/gt.png'> Guatemala</td>
                </tr>
                <tr>
                  <td><img src='static/flags/mx.png'> Mexico</td>
                  <td><img src='static/flags/ky.png'> Cayman Islands</td>
                  <td><img src='static/flags/cl.png'> Chile</td>
                  <td><img src='static/flags/il.png'> Israel</td>
                  <td><img src='static/flags/mm.png'> Myanmar</td>
                </tr>
                <tr>
                  <td><img src='static/flags/pa.png'> Panama</td>
                  <td><img src='static/flags/vi.png'> US Virgin Islands</td>
                  <td><img src='static/flags/ec.png'> Ecuador</td>
                  <td><img src='static/flags/in.png'> India</td>
                  <td><img src='static/flags/th.png'> Thailand</td>
                </tr>
                <tr>
                  <td><img src='static/flags/pr.png'> Puerto Rico</td>
                  <td><img src='static/flags/ar.png'> Argentina</td>
                  <td><img src='static/flags/pe.png'> Peru</td>
                  <td><img src='static/flags/jo.png'> Jordan</td>
                  <td><img src='static/flags/vn.png'> Vietnam</td>
                </tr>
                <tr>
                  <td><img src='static/flags/aw.png'> Aruba</td>
                  <td><img src='static/flags/bo.png'> Bolivia</td>
                  <td><img src='static/flags/uy.png'> Uruguay</td>
                  <td><img src='static/flags/kh.png'> Cambodia</td>
                  <td><img src='static/flags/pf.png'> French Polynesia</td>
                </tr>
                <tr>
                  <td><img src='static/flags/br.png'> Brazil</td>
                  <td><img src='static/flags/vg.png'> British Virgin Islands</td>
                  <td><img src='static/flags/ma.png'> Morocco</td>
                  <td><img src='static/flags/la.png'> Laos</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}