/* Sticky footer styles
-------------------------------------------------- */
/* html {
    position: relative;
    min-height: 100%;
  }
body {
  margin-bottom: 60px;
}  */

img {
    max-width: 100%;
    max-height: 100%;
}

.margin {
  height: 60px;
}

.mapawc {
  height: 70vh;
}

.mapog {
  height: 79vh;
}

.btn.btn-success {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
}

.btn.btn-success:hover {
  color: var(--button-color);
  background-color: var(--button-background-color-dark);
  border-color: var(--button-background-color-dark);
}

.btn.btn-success:focus, .btn.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}

.btn.btn-success.disabled, .btn.btn-success:disabled {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
}

.btn.btn-success:not(:disabled):not(.disabled):active,
.btn.btn-success:not(:disabled):not(.disabled).active {
  color: var(--button-color);
  background-color: var(--button-background-color-dark);
  border-color: var(--button-background-color-dark);
}

.show > .btn.btn-success.dropdown-toggle {
  color: var(--button-color);
  background-color: var(--button-background-color-dark);
  border-color: var(--button-background-color-dark);
}

.show > .btn.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}

.btn.btn-success:not(:disabled):not(.disabled):active:focus,
.btn.btn-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}

/* body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
} */

/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
   */
