body {
    font-family: "Ubuntu";
    background-color: #f0ffff;
}

.card-header {
    background-color: #f1f1f1;
    border-radius: 10px 10px 0px 0px !important;
}

.card {
    border-radius: 10px 10px 10px 10px !important;
}

.card-body {
    padding: 10px !important;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px 0px 0px 0px !important;
}

.margin {
    height: 60px;
}

.mapawc {
    height: 70vh;
}

.mapog {
    height: calc(100vh - 110px);
    position: absolute;
    width: 100%;
}

.mapogsm {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 600px;
    width: 100%;
}

.btn.btn-success {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-color: var(--button-background-color);
}

.btn.btn-success:hover {
    color: var(--button-color);
    background-color: var(--button-background-color-dark);
    border-color: var(--button-background-color-dark);
}

.btn.btn-success:focus, .btn.btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}

.btn.btn-success.disabled, .btn.btn-success:disabled {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-color: var(--button-background-color);
}

.btn.btn-success:not(:disabled):not(.disabled):active,
.btn.btn-success:not(:disabled):not(.disabled).active {
    color: var(--button-color);
    background-color: var(--button-background-color-dark);
    border-color: var(--button-background-color-dark);
}

.show > .btn.btn-success.dropdown-toggle {
    color: var(--button-color);
    background-color: var(--button-background-color-dark);
    border-color: var(--button-background-color-dark);
}

.show > .btn.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}

.btn.btn-success:not(:disabled):not(.disabled):active:focus,
.btn.btn-success:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}